<nav>
  <ul class="m-nav">
    <li class="m-nav-item home"><a class="nav-link" href="">Home</a></li>
    <li class="m-nav-item"><a class="nav-link" href="">Services</a></li>
    <li class="m-nav-item"><a class="nav-link" href="">Team</a></li>
    <li class="m-nav-item"><a class="nav-link" href="">Clients</a></li>
    <li class="m-nav-item"><a class="nav-link" href="">Contact&nbsp;Us</a></li>
  </ul>
</nav>