<nav class="l-nav-top">
  <ul class="m-nav">
    <li class="m-nav-item home">
      <a class="m-nav-link" href="/" data-nav-link="home">Home</a>
    </li>
    <li class="m-nav-item">
      <a class="m-nav-link" href="/" data-nav-link="services">Services</a>
    </li>
    <li class="m-nav-item">
      <a class="m-nav-link" href="/" data-nav-link="team">Team</a>
    </li>
    <li class="m-nav-item">
      <a class="m-nav-link" href="/" data-nav-link="clients">Clients</a>
    </li>
    <li class="m-nav-item">
      <a class="m-nav-link" href="/" data-nav-link="contact">Contact&nbsp;Us</a>
    </li>
  </ul>
</nav>