section {
    &[data-page-section="change"]{
        @include flexColumn;
        background: url('../../img/bg/bg-2.jpg') no-repeat top center;
        background-size:cover;
        padding: 2.5rem;
        text-align: center;

        .m-section-title {
            font-size: 4rem;
            font-family: $font-playfair;
            font-weight: 400;
            padding: 0;
            transform: translateY(-20%);
            span {
                font-size: 0.85rem;
                font-weight: bold;
                margin: 0;
            }
}


    }

    #change-logo-animation {
        border: 1px solid black;
        width: calc(595px/2);
        height: calc(171px/2)();
        position: relative;
        z-index: 0;

        @include mobile {
            width: 375px;
            height: 160px;
        }

        @include tablet {

        }

        @include desktop {
          width: 700px;
          height: 300px;

        }
        .dot {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background: url('../../img/bg/bg-change-dot.png') no-repeat;
            background-position: -1px 1px;
            background-size: contain;
            position: absolute;
            top: 100px;
            left: 50px;
            box-shadow: -2px 3px 4px -1px rgba(0,0,0,0.4);
            z-index: 1;
          }

          .bar {
            width: 0px;
            height: 1px;
            background: #000000;
            position: absolute;
            // width: 67px;
            top: 122px;
          }

          .bar1 {
            left: 90px;
          }

          .bar6 {
            left: 261px;
            top: 82px;
            height: 0;
            width: 1px;
          }

          .bar2 {
            left: 200px;
          }

          .bar3 {
            left: 364px;
          }

          .bar4 {
            left: 446px;
          }

          .bar5 {
            left: 528px;
          }
    }
}