 main {
    &[data-section="main"]{
        background: url('../../img/bg/bg-1.jpg') no-repeat top center;
        background-size:cover;
        position: fixed;
        top: 0;
    }
}

html:not([data-scroll='0']) main {
    height: 60px;
    transition: height 0.5s ease-in;
  }
  