section {
    &[data-page-section="team"]{
        background: url('../../img/bg/bg-3.jpg') no-repeat top center;
        background-size: cover;
        padding: 2.5rem;
        font-family: $font-roboto;
    }
}