footer {
    @include flexColumn;
    background: url('../../img/bg/bg-1.jpg') no-repeat top center;
    background-size: cover;
    color: $brand-colour;
    font-family: $font-roboto;
    font-size: 1rem;
    letter-spacing: 3px;
    padding: 3rem;

    & img.katalyst-logo {
        width: 200px;
        max-width: 80vw;
    }
}
