body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

section, main {
    height: 100vh;
    width: 100vw;
    background: red;
    transition: height 0.75s ease-in;

}

h1, h2, h3, h4, {
    margin: 0;
    padding: 0;
}

a, p, li {
    font-size: $body-size;
    line-height: 20px;
    font-family: $font-roboto;
    @include mobile {
        font-size: $body-size-m;
    }
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

blockquote {
    color: $brand-colour;
    font-family: $font-playfair;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

cite {
    color: $brand-colour;
    font-family: $font-playfair;
    font-weight: 700;
    font-size: 25px;
    line-height: 22px;
    @include mobile {
        font-size: 20px;
        line-height: 20px;
    }
}

.m-header-secondary {
    font-family: $font-playfair;
    font-size: 22px;
    line-height: 22px
}