body {
    padding: 0;
    margin: 0;
}

section, main {
    height: 100vh;
    width: 100vw;
    background: red;
    transition: height 0.5s ease-in;

}

h1, h2, h3, h4, {
    margin: 0;
    padding: 0;
}