$brand-colour: #7c7940;
$dark-text: #000000;
$light-text: #ffffff;

$nav-size: 16px;
$body-size: 17px;
$body-size-m: 16px;


@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto+Condensed:400,700');
$font-roboto: 'Roboto Condensed', Arial, Helvetica, sans-serif;
$font-playfair: 'Playfair Display', Arial, Helvetica, serif;
