<section data-page-section="change">
    <p class="title">WE BELIEVE IN THE POWER OF</p>
    <h2>CHANGE</h2>

    <div id="change-logo-animation">
        <div class="dot1 dot"></div>
        <div class="dot2 dot"></div>
        <div class="dot3 dot"></div>
        <div class="dot4 dot"></div>
        <div class="dot5 dot"></div>
        <div class="dot6 dot"></div>
        <div class="dot7 dot"></div>
        <div class="dot8 dot"></div>
        <div class="dot9 dot"></div>

        <div class="bar1 bar"></div>
        <div class="bar2 bar"></div>
        <div class="bar3 bar"></div>
        <div class="bar4 bar"></div>
        <div class="bar5 bar"></div>
        <div class="bar6 bar"></div>
    </div>

    <p>We are Katalysts in an ever-evolving healthcare landscape, where the ability to affect change is powerful. Securing success today and tomorrow requires an agency partner prepared to navigate the challenges not just for you but with you, at every step.</p>
</section>