<section data-page-section="change">
    <!-- kk note: this is the home section. delete this comment before pushing to prod -->
    <h2>Change</h2>
    <div id="change-logo-animation">
        <div class="dot1 dot"></div>
        <div class="dot2 dot"></div>
        <div class="dot3 dot"></div>
        <div class="dot4 dot"></div>
        <div class="dot5 dot"></div>
        <div class="dot6 dot"></div>
        <div class="dot7 dot"></div>
        <div class="dot8 dot"></div>
        <div class="dot9 dot"></div>

        <div class="bar1 bar"></div>
        <div class="bar2 bar"></div>
        <div class="bar3 bar"></div>
        <div class="bar4 bar"></div>
        <div class="bar5 bar"></div>
        <div class="bar6 bar"></div>
    </div>
</section>