<section data-page-section="clients">
    <div class="l-container">

        <h2 class="m-section-title">
            Changing Together
            <span>Our Clients</span>
        </h2>


        <p>We create communication that solves a human need.</p>
        <p>For patients, for healthcare providers and for our clients.</p>

        <hr class="thin" />

        <p class="m-section-text">We don't think like vendors, we act as partners, navigating business challenges together with purpose.</p>

        <div class="clients-animation">
            <!-- TODO: create animation here -->
        </div>
    </div>
</section>