<section data-page-section="clients">
    <h2>CHANGING TOGETHER</h2>
    <hr />
    <h3>Our Clients</h3>

    <p>We create communication that solves a human need.</p>
    <p>For patients, for healthcare providers and for our clients.</p>

    <hr class="thin" />

    <p class="lead">We don't think like vendors, we act as partners, navigating business challenges together with purpose.</p>

    <div class="clients-animation">
        <!-- TODO: create animation here -->
    </div>
</section>