<section data-page-section="contact">
    <div class="l-container">

        <h2 class="m-section-title">
            Changing the conversation
            <span>Contact Us</span>
        </h2>



        <p class="m-section-text">When powerful change is what you demand, we are the Agents that will provide it.</p>

        <div class="contact-animation">
            <!-- TODO: create animation here -->
        </div>

        <div class="contact">
            <h3>WORK WITH US</h3>
            <a class="email" href="mailto:newbusiness@katalystsofchange.com">newbusiness@katalystsofchange.com</a>
        </div>
        <div class="contact">
            <h3>JOIN OUR TEAM</h3>
            <a class="email" href="mailto:careers@katalystsofchange.com">careers@katalystsofchange.com</a>
        </div>

        <address class="m-address">
            175 Bloor St. E, Toronto, ON Canada, M4W 3R8<br />
            <a href="tel:+1-416-214-4977">416.214.4977</a>
        </address>
        </div>
</section>
