<section data-page-section="contact">
    <div class="l-container">

        <h2>CHANGING THE CONVERSATION</h2>
        <hr />
        <h3>Contact Us</h3>

        <p class="lead">When powerful change is what you demand, we are the Agents that will provide it.</p>

        <div class="contact-animation">
            <!-- TODO: create animation here -->
        </div>

        <div class="contact">
            <h2>WORK WITH US</h2>
            <a class="email" href="mailto:newbusiness@katalystsofchange.com">newbusiness@katalystsofchange.com</a>
        </div>
        <div class="contact">
            <h2>JOIN OUR TEAM</h2>
            <a class="email" href="mailto:careers@katalystsofchange.com">careers@katalystsofchange.com</a>
        </div>

        <address class="address">
            175 Bloor St. E, Toronto, ON Canada, M4W 3R8<br />
            <a href="tel:+1-416-214-4977">416.214.4977</a>
        </address>
        </div>
</section>
