<main data-section="main">
    <h1 class="m-title"><img src="~/Content/img/katalyst-logo.png"></h1>
    <h2 class="m-subtitle">A Full-Service Healthcare Communications Agency</h2>

    <!-- TODO: REPLACE WITH ROTATING CONTENT -->
    <aside class="m-awards">
        <span id="name">Cannes Health Lions—Lighter Blue (Silver)</span>
    </aside>

    <button class="m-down-arrow"></button>
</main>