<section data-page-section="home">
    <div class="l-container">

        <h2 class="m-section-title">
            We believe in the power of
            <span>Change</span>
        </h2>


        @Html.Partial("_Logo")


        <p class="m-section-text">We are Katalysts in an ever-evolving healthcare landscape, where the ability to affect change is powerful. Securing success today and tomorrow requires an agency partner prepared to navigate the challenges not just for you but with you, at every step.</p>

    </div>
</section>