<section data-page-section="services">
    <h2>DELIVERING CHANGE</h2>
    <hr />
    <h3>Our Services</h3>

    <p>As Agents of Change, we aren't afraid of what hasn't been done. To us, change is progress. We are brave, dynamic and determined. We stimulate, distill and defend. Our tools are data, insight and creativity.</p>

    <hr class="thin" />

    <p class="lead">Your complete<br />Commercialization<br />Partner.</p>

    <div class="services-animation">
        <!-- TODO: create animation here -->
    </div>
</section>