<section data-page-section="team">
    <div class="l-container">

        <h2>CHANGE MAKERS</h2>
        <hr />
        <h3>Our Team</h3>

        <p>Making positive changes in the way we talk about healthcare.</p>
        <hr class="thin" />

        <div class="team-animation">
            <!-- TODO: create animation here -->
        </div>

        <p class="lead quote">Even after 30 years, locating that often elusive but powerful insight that can fuel a life-altering change is what continues to drive me.&rdquo;</p>
        <p class="lead"><strong>Leslie Jamison</strong></p>

</div>
</section>